# This is Git's per-user configuration file.
[user]
	email = qkessler@gmail.com
	name = qkessler
# Please adapt and uncomment the following lines:
#	name = Enrique Kessler Martínez
#	email = qkessler@gmail.com
[commit]
    template = ~/.gitmessage
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[github]
	user = Qkessler
